{% extends "layout.html" %}

{% block content %}
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="new-post">
      <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        <form method="post">
          <h4>
            {{ 'Create New Post' if type == 'new' else 'Edit Post' }}
          </h4>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" value="{{subject}}" name="subject" id="subject">
            <label class="mdl-textfield__label" for="subject">Subject</label>
          </div>
          <br>
          <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "7" name="content" id="content">{{content}}</textarea>
            <label class="mdl-textfield__label" for="content">Content</label>
          </div>

          <p style="color: red">{{error}}</p>
          <button type="submit" class="bg-color-primary text-white mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
