{% extends "layout.html" %}

{% block content %}
    <h2>Signup</h2>
    <form method="post">
        <table>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input type="text" name="username" value="{{username}}">
                </td>
                <td>
                    {{error_username}}
                </td>
            </tr>

            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password" name="password" value="">
                </td>
                <td>
                    {{error_password}}
                </td>
            </tr>

            <tr>
                <td>
                    Verify Password
                </td>
                <td>
                    <input type="password" name="password_confirmation" value="">
                </td>
                <td>
                    {{error_verify}}
                </td>
            </tr>

            <tr>
                <td>
                    Email (optional)
                </td>
                <td>
                    <input type="text" name="email" value="{{email}}">
                </td>
                <td>
                    {{error_email}}
                </td>
            </tr>
        </table>

        <input type="submit">
    </form>
{% endblock %}
