<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Catalog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if g.get('current_user') %}
          <li><a id="logout">Logout</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>

<script>
(function() {
  var logoutEl = $('#logout')[0]
  console.log(logoutEl)
  if (logoutEl) {
    logoutEl.addEventListener('click', function() {
      $.ajax({
        type: 'POST',
        url: '/gdisconnect',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          window.location.reload();
        }});
    });
  }
})();
</script>
