<header id="header" class="wlt-header mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      <a href="/">Home</a>
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      {% if not current_user %}
        <a class="mdl-navigation__link" href="/signup">Signup</a>
        <a class="mdl-navigation__link" href="/login">Login</a>
      {% else %}
        <p class="mdl-navigation__link">Hello {{current_user.username}},</p>
        <a class="mdl-navigation__link" href="/users/{{current_user.key().id()}}/posts">My Posts</a>
        <a class="mdl-navigation__link" @click="logout" href="#">Logout</a>
      {% endif %}
    </nav>
  </div>
</header>

<div id="side-menu" class="mdl-layout__drawer">
  <span class="mdl-layout-title">
    <a href="/">Home</a>
  </span>
  <nav class="mdl-navigation">
    {% if not current_user %}
      <a class="mdl-navigation__link" href="/signup">Signup</a>
      <a class="mdl-navigation__link" href="/login">Login</a>
    {% else %}
      <a class="mdl-navigation__link" href="/users/{{current_user.key().id()}}/posts">My Posts</a>
      <a class="mdl-navigation__link" @click="logout" href="#">Logout</a>
    {% endif %}
  </nav>
</div>

<script>
new Vue({
  el: '#header',
  methods: {
    logout() {
      return axios.post('/logout')
        .then(() => {
          window.location.href = '/'
        })
    },
  },
})

new Vue({
  el: '#side-menu',
  methods: {
    logout() {
      return axios.post('/logout')
        .then(() => {
          window.location.href = '/'
        })
    },
  },
})
</script>
