<div class="mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__media mdl-color-text--grey-50">
    <h3><a href="/posts/{{post.key().id()}}">{{post.subject}}</a></h3>
  </div>
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
    {% autoescape false %}
        {{post.content | e | replace('\n', '<br/>')}}
    {% endautoescape %}
  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo"></div>
    <div>
      <a href="/users/{{post.user.key().id()}}/posts">
        <strong>{{post.user.username}}</strong>
      </a>
      <span>{{post.created.strftime("%Y-%m-%d")}}</span>
    </div>
  </div>
</div>
