{% extends "layout.html" %}

{% block content %}
    {% if g.current_user %}
        <div style="margin-bottom: 20px">
            <a class="waves-effect waves-light btn-small" href="{{url_for('add_new_item')}}">New item</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="category-pane col s4">
            <div class="collection with-header">
                <div class="collection-header">
                    <h4>Categories</h4>
                </div>
                {% for catalog in catalogs %}
                    <a class="collection-item" href="{{url_for('catalog_items', catalog_id=catalog.id)}}">
                        {{catalog.name}}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="items-pane col s8">
            {% if type == 'index' %}
                <div class="collection with-header">
                    <div class="collection-header">
                        <h5>Latest items</h5>
                    </div>

                    {% for item in items %}
                        <a class="collection-item" href="{{url_for('get_item', item_id=item.id)}}">
                            {{item.name}} ({{item.catalog.name}})</a>

                    {% endfor %}
                </div>
            {% else %}
                <div class="collection with-header">
                    <div class="collection-header">
                        <h5>{{'%s Items (%s items)' % (catalog.name, items | length)}}</h5>
                    </div>

                    {% for item in items %}
                        <a class="collection-item" href="{{url_for('get_item', item_id=item.id)}}">
                            {{item.name}}</a>

                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
