{% extends "layout.html" %}

{% block content %}
    <div class="center-align">
        <div id="signinButton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="217213546954-co2a91q2h27thlckipqd810v3q8qr3p4.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>

        <div id="result"></div>
    </div>
{% endblock %}
