.wlt .mdl-layout__header,
.wlt .mdl-layout__drawer-button{
    color: #fff !important;
}

.wlt.mdl-layout .mdl-layout__content {
    padding-top: 50px;
}

.new-post {
    align-self: center;
}

.new-post .mdl-textfield {
    min-width: 500px;
}

.bg-color-primary {
    background-color: #3f51b5 !important;
}

.text-white {
    color: #fff !important;
}

.wlt .mdl-layout-title a {
    text-decoration: none;
    color: #fff;
}

.wlt .mdl-layout__drawer .mdl-layout-title a {
    color: #888;
}

.wlt .title {
    color: #e1e7f2;
    text-align: center;
}

.wlt .demo-blog--blogpost {
    width: 100%;
}
