/* Global */
.wlt .mdl-layout__header,
.wlt .mdl-layout__drawer-button{
    color: #fff !important;
}

.wlt .mdl-layout__header-row .mdl-navigation__link {
    color: #fff;
}

.wlt.mdl-layout .mdl-layout__content {
    padding-top: 50px;
}

.bg-color-primary {
    background-color: #3f51b5 !important;
}

.text-white {
    color: #fff !important;
}

.text-red {
    color: red;
}

.wlt .mdl-layout-title a {
    text-decoration: none;
    color: #fff;
}

.wlt .mdl-layout__drawer .mdl-layout-title a {
    color: #888;
}

.wlt .title {
    color: #fff;
    text-align: center;
}

/* End Global */

/* New Post */
.new-post {
    margin: 10px auto;
}

.new-post .mdl-textfield {
    min-width: 500px;
}
/* End New Post */

/* Post Detail */
.wlt .demo-blog--blogpost {
    width: 100%;
}

.post-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.post-header button.mdl-button--fab {
    background-color: #fff;
}

.demo-blog .mdl-card__supporting-text.post-content {
    -webkit-align-items: unset;
    -ms-flex-align: unset;
    align-items: unset;
}
/* End Post Detail */
